[flake8]
max-doc-line-length = 79
max-line-length = 110
# E203: whitespace before :, flake8 disagrees with PEP-8
# W503: line break after binary operator, flake8 disagrees with PEP-8
extend-ignore = E203, W503
