.DS_Store
*.aux
*.log
*.toc
*.out
*.nav
*.snm
*.fls
*.fdb_latexmk
*.bbl
*.blg
/beamer-LSST2016.pdf
/beamer-desc.pdf
/presentation.pdf
/LDM-nnn.pdf
/DMTN-nnn.pdf
/test-bibtex.pdf
examples/*.pdf
tests/*.pdf
docs/_build/
